// stylelint-disable color-no-hex, function-max-empty-lines, value-list-max-empty-lines
$color-palette-data: (
  white: (
    base: #ffffff
  ),

  black: (
    base: #000000
  ),

  primary: (
    base: #5DB0FF,
    dark: darken(#5DB0FF, 20%),
    darker: darken(#5DB0FF, 30%),
    light: lighten(#5DB0FF, 20%),
    lighter: lighten(#5DB0FF, 30%),
    text: #3e4e57
  ),

  secondary: (
    base: #47c1bf,
    dark: #00848e,
    darker: #003135,
    light: #b7ecec,
    lighter: #e0f5f5,
    text: #405352
  ),

  success: (
    base: #50b83c,
    dark: #108043,
    darker: #173630,
    light: #bbe5b3,
    lighter: #e3f1df,
    text: #414f3e
  ),

  warning: (
    base: #f49342,
    dark: #c05717,
    darker: #4a1504,
    light: #ffc58b,
    lighter: #fcebdb,
    text: #594430
  ),

  error: (
    base: #ed6347,
    dark: #bf0711,
    darker: #330101,
    light: #fead9a,
    lighter: #fbeae5,
    text: #583c35
  ),

  background: (
    base: #dfe3e8,
    dark: #c4cdd5,
    darker: #a4ada5,
    light: #f4f6f8,
    lighter: #f9fafb
  ),

  icons: (
    base: #ffffff,
    dark: #173630,
    darker: #173630,
    light: #e3f1df,
    lighter: #e3f1df,
    hover: #637381,
    selected: #bf0711
  )
);

// UK and US spelling alias
$colour-palette-data: $color-palette-data;
// stylelint-enable color-no-hex, function-max-empty-lines, value-list-max-empty-lines
