@mixin base-button() {
  display: flex;
  line-height: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: border();
  border-radius: border-radius();
  min-width: $button_min_width;
  min-height: $button_min_height;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none;
}

@mixin button-filled() {
  @include base-button;

  background: background(primary);
  color: color(white);

  &:hover {
    background: background(gradiant);
    border: border(hover);
  }

  &:focus {
    border: border(focus);
  }

  &:active {
    background: background(gradiant);
    border: border(active);
  }
}

@mixin button-filled-disabled($button-color) {
  @include button-filled;
  @include recolor-icon(color(white));

  // Transition gradient to gradient to avoid flicker
  background: background(gradiant);
  border: border(light);
}

@mixin button-outline() {
  @include base-button;

  background: background(transparent);
  border: border(white);
  color: color(white);

  &:hover {
    background: background(gradiant);
  }

  &:focus {
    background: rgba(background(primary), 0.8);
  }

  &:active {
    background: rgba(background(primary), 0.1);
  }
}

@function plain-button-background() {
  @return rgba(color(primary, text), 0.1);
}

@mixin plain-button-backdrop() {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -5px;
  right: -5px;
  display: block;
  background: plain-button-background();
  border-radius: border-radius();
  transition: opacity duration() easing();
}

@mixin unstyled-button() {
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
