@function login($element, $value: null) {
  @if map-has-key($login-data, $element) {
    $details: map-get($login-data, $element);

    $fetched-element: $details;

    @if type-of($details) == map {
      @if map-has-key($fetched-element, $value) {
        $fetched-element: map-get($fetched-element, $value);
      }
    }

    @return $fetched-element;
  } @else {
    @error 'Login element `#{$element} - #{$value}` not found. Available: #{available-names($login-data)}';
  }
}
