@import "./_fonts.scss";

//COLORS

$primary: #9C27B0;
$primary-dark: #7B1FA2;
$primary-light: #E1BEE7;
$accent: #4CAF50;
$icons: #FFFFFF;
$primary-text: #212121;
$secondary-text: #fff;
$black: #000;
$divider: #BDBDBD;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$success: #8BC34A;
$warn: #FF5722;
$fail: #FF5252;
$light-bg: rgb(244,244,248);
$line: rgb(245,245,245);
$light-hover: rgb(246,246,246);

$colors-map: (
  primary: $primary,
  primary-dark: $primary-dark,
  primary-light: $primary-light,
  accent: $accent,
  icons: $icons,
  primary-text: $primary-text,
  secondary-text: $secondary-text,
  divider: $divider,
  black: $black,
  white: $white,
  success: $success,
  fail: $fail
);

$border-radius: 2em;

// LOGIN PAGE

$login_header: $primary;
$login_header_height: 95px;
$login_header_shadow: none;
$login_header_border: 0px;
$login_header_padding: 0 0 1.5rem;
$login_header_text_size: 1rem;
$login_background: $light-bg;
$login_box_header: #FFFFFF;
$login_box_background: #FFFFFF;
$login_box_border: 1px solid darken($light-bg, 10);
$login_text: #143261;
$login_label_text_size: 0.75rem;
$login_shadow: 0 20px 44px 0 rgba(119,135,139,0.6);
$login_button_background: #194282;
$login_button_min_width: 250px;
$login_button_min_height: 50px;
$login_box_min_width: 650px;
$login_box_padding: 2rem;
$login_box_margin: 0;
$login_checkbox_colour: $login_button_background;
$login_logo_text: #FFFFFF;
$login_logo_margin: 1em;

$header_background: $primary;

$sidebar_border: 0;
$sidebar-shadow: none;
$sidebar_text_size: 1rem;
$sidebar_menu_padding_top: 0em;
$sidebar_hamburger_colour: #FFFFFF;
