@import "./_variables.scss";
@import "./_fonts.scss";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $white;
  color: $primary-text;
  overflow: hidden;
}

//TEXT
@each $color, $value in $colors-map {
  .text-#{$color} {
    color: #{$value}
  }
}

.strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.15em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.15em 0;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

a.link {
  margin: 3px;
  background: #f44336;
  color: white !important;
  padding: 4px;
  text-decoration: none;
  border-radius: 2px;
}
